html {
  background: linear-gradient(to top left, #61a889, #67b9b2, #42a3a6, #3a7e94);
}
form {
  display: flex;
  flex-wrap: wrap;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /*gap: 1rem;*/
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  margin: 0.3rem;
  padding: .5rem;
  border-radius: .5rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  /*cursor: pointer;*/
  transition: 1000ms;
  transform-style: preserve-3d;
  transform: perspective(400px) rotateY(var(--rotate, 0deg)) translateY(var(--lift, 0px));
}
.card:hover {
  --lift: -5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.flip {
  --rotate: 180deg;
}
.front {
  position: absolute;
  backface-visibility: hidden;
  left: 5px;
  padding: 5px;
}

.back {
  /*position: absolute;*/
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.options {
  margin: .3rem 0rem;
  color: #858585;
  font-size: 1rem;
}
.option {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);;
  border-radius: 0.5rem;
  /*border: 0.1rem solid #a6a6a6;*/
  margin: 0.1rem;
  margin-right: 16px;
  padding-left: 0.5rem;
  cursor: pointer;
}
.option:hover{
  background-color: rgba(255, 255, 255, 0.38);
}

.categories, .amount, .difficulty {
  border: none;
  margin: .3rem;
  padding: 0.5rem;
  border-radius: .3rem;
}
button {
  padding: .4rem;
  margin: .3rem;
  border-radius: .3rem;
}

.score {
  display: inline-block;
  background-color: white;
  border-radius: .3rem;
  padding: .4rem;
  margin: .3rem;
}
